# NPM files
node_modules

# Development files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
*.log
*.test.js

# Build artifacts
build
out
.env.production
.next